@keyframes svg_library_AnimationFadeOutIn_1lEwX {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.svg_library_recordingCircle_2ovZQ {
  animation: svg_library_AnimationFadeOutIn_1lEwX 5s infinite linear;
}
@keyframes svg_library_SpinnerSpokeFade_2E-wW {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.svg_library_Spinner_1q9tu > path {
  animation: svg_library_SpinnerSpokeFade_2E-wW 0.6s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.svg_library_Spinner_1q9tu > path:nth-child(1) {
  animation-delay: -0.925s;
}
.svg_library_Spinner_1q9tu > path:nth-child(2) {
  animation-delay: -0.85s;
}
.svg_library_Spinner_1q9tu > path:nth-child(3) {
  animation-delay: -0.775s;
}
.svg_library_Spinner_1q9tu > path:nth-child(4) {
  animation-delay: -0.7s;
}
.svg_library_Spinner_1q9tu > path:nth-child(5) {
  animation-delay: -0.625s;
}
.svg_library_Spinner_1q9tu > path:nth-child(6) {
  animation-delay: -0.55s;
}
.svg_library_Spinner_1q9tu > path:nth-child(7) {
  animation-delay: -0.475s;
}
.svg_library_Spinner_1q9tu > path:nth-child(8) {
  animation-delay: -0.4s;
}
.grabhandle_GrabHandleBar_2EnMy {
  --grab-handle-grow-scale-x: 1.1;
  height: 12px;
  background-color: var(--dashboard-control-bar-button-color-a);
  border-radius: 20px;
  transition:
    transform 0.08s ease-out,
    background-color 0.08s ease-out;
  transform-origin: center;
  transform: scaleX(calc(1 / var(--grab-handle-grow-scale-x)));
}
.grabhandle_GrabHandleButton_1kjlA:hover .grabhandle_GrabHandleBar_2EnMy {
  background-color: #fff;
  transform: scaleX(1);
}
.grabhandle_GrabHandleBar_2EnMy.grabhandle_ForceActive_12Cc_ {
  background-color: #fff;
  transform: scaleX(1);
}
.grabhandle_GrabHandleButton_1kjlA {
  pointer-events: all;
  padding: 60px;
}
.controllerstatus_ControllerStatusRoot_15qWt {
  width: 256px;
  height: 256px;
}
.controllerstatus_ControllerHandFrame_2Ttrk {
  width: 210px;
  margin-left: 23px;
  height: 110px;
  margin-top: 18px;
  display: flex;
}
.controllerstatus_ControllerAppIcon_27WgZ {
  margin: auto;
  height: 64px;
  width: 64px;
  border-radius: 4px;
}
.controllerstatus_ControllerBatteryFrame_4AIPw {
  width: 210px;
  margin-left: 23px;
  height: 110px;
  margin-top: 18px;
  opacity: 0.85;
}
.controllerstatus_ControllerBattery_3I629 {
  filter: brightness(65%);
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e {
  display: flex;
  flex-direction: row;
  background: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
  transition: opacity 0.4s ease-out;
  opacity: 1;
  flex-wrap: nowrap;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e:not(:hover) {
  opacity: 0.6;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .legacydashboardframecontrols_Section_1KwWq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  background: var(--gamepadui-darker-grey);
  border-radius: 10px;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e .ButtonControl {
  background-color: none;
  background: none;
  margin: 0;
  padding: 10px 20px 10px 20px;
  height: 100%;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .ButtonControl.Disabled {
  pointer-events: none;
  opacity: 0.3;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .ButtonControl:hover {
  background: var(--gamepadui-dark-grey);
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .ButtonControl:active {
  background: var(--gamepadui-grey);
}
.frameresizehandle_ResizeHandleButton_3BhgE {
  --resize-corner-size: 128px;
  --resize-corner-thickness: 10px;
  --resize-corner-offset: 12px;
  pointer-events: all;
  padding: 30px;
  position: relative;
  width: calc(var(--resize-corner-size) + var(--resize-corner-offset) * 2);
  height: calc(var(--resize-corner-size) + var(--resize-corner-offset) * 2);
  padding: 0;
}
.frameresizehandle_ResizeCorner_35BU5 {
  position: absolute;
  right: var(--resize-corner-offset);
  bottom: var(--resize-corner-offset);
  display: flex;
  width: var(--resize-corner-size);
  height: var(--resize-corner-size);
  cursor: nwse-resize;
}
.frameresizehandle_ResizeSVG_1uH2W {
  width: 50px;
  height: 50px;
  color: var(--dashboard-control-bar-button-color-a);
  margin: auto;
  transition: all 0.08s ease-out;
}
.frameresizehandle_ResizeHandleButton_3BhgE:hover
  .frameresizehandle_ResizeSVG_1uH2W {
  color: #fff;
  transform: scale(1.4);
}
.frameresizehandle_ResizeHandleButton_3BhgE:hover
  .frameresizehandle_ResizeSVG_1uH2W
  path {
  stroke-width: 4.2857142857;
}
.frameresizehandle_ResizeHandleButton_3BhgE.frameresizehandle_ForceActive_3gxMM
  .frameresizehandle_ResizeSVG_1uH2W {
  color: #fff;
  transform: scale(1.4);
}
.frameresizehandle_ResizeHandleButton_3BhgE.frameresizehandle_ForceActive_3gxMM
  .frameresizehandle_ResizeSVG_1uH2W
  path {
  stroke-width: 4.2857142857;
}
/*# sourceMappingURL=file:///home/buildbot/buildslave/steamvr_rel_npm_vrwebui/build/public/runtime/resources/webinterface/dashboard/sourcemaps/css/bindingcallouts.css.map*/
