@keyframes svg_library_AnimationFadeOutIn_1lEwX {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.svg_library_recordingCircle_2ovZQ {
  animation: svg_library_AnimationFadeOutIn_1lEwX 5s infinite linear;
}
@keyframes svg_library_SpinnerSpokeFade_2E-wW {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
.svg_library_Spinner_1q9tu > path {
  animation: svg_library_SpinnerSpokeFade_2E-wW 0.6s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}
.svg_library_Spinner_1q9tu > path:nth-child(1) {
  animation-delay: -0.925s;
}
.svg_library_Spinner_1q9tu > path:nth-child(2) {
  animation-delay: -0.85s;
}
.svg_library_Spinner_1q9tu > path:nth-child(3) {
  animation-delay: -0.775s;
}
.svg_library_Spinner_1q9tu > path:nth-child(4) {
  animation-delay: -0.7s;
}
.svg_library_Spinner_1q9tu > path:nth-child(5) {
  animation-delay: -0.625s;
}
.svg_library_Spinner_1q9tu > path:nth-child(6) {
  animation-delay: -0.55s;
}
.svg_library_Spinner_1q9tu > path:nth-child(7) {
  animation-delay: -0.475s;
}
.svg_library_Spinner_1q9tu > path:nth-child(8) {
  animation-delay: -0.4s;
}
.grabhandle_GrabHandleBar_2EnMy {
  --grab-handle-grow-scale-x: 1.1;
  height: 12px;
  background-color: var(--dashboard-control-bar-button-color-a);
  border-radius: 20px;
  transition:
    transform 0.08s ease-out,
    background-color 0.08s ease-out;
  transform-origin: center;
  transform: scaleX(calc(1 / var(--grab-handle-grow-scale-x)));
}
.grabhandle_GrabHandleButton_1kjlA:hover .grabhandle_GrabHandleBar_2EnMy {
  background-color: #fff;
  transform: scaleX(1);
}
.grabhandle_GrabHandleBar_2EnMy.grabhandle_ForceActive_12Cc_ {
  background-color: #fff;
  transform: scaleX(1);
}
.grabhandle_GrabHandleButton_1kjlA {
  pointer-events: all;
  padding: 60px;
}
.controllerstatus_ControllerStatusRoot_15qWt {
  width: 256px;
  height: 256px;
}
.controllerstatus_ControllerHandFrame_2Ttrk {
  width: 210px;
  margin-left: 23px;
  height: 110px;
  margin-top: 18px;
  display: flex;
}
.controllerstatus_ControllerAppIcon_27WgZ {
  margin: auto;
  height: 64px;
  width: 64px;
  border-radius: 4px;
}
.controllerstatus_ControllerBatteryFrame_4AIPw {
  width: 210px;
  margin-left: 23px;
  height: 110px;
  margin-top: 18px;
  opacity: 0.85;
}
.controllerstatus_ControllerBattery_3I629 {
  filter: brightness(65%);
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e {
  display: flex;
  flex-direction: row;
  background: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-variant-numeric: tabular-nums;
  transition: opacity 0.4s ease-out;
  opacity: 1;
  flex-wrap: nowrap;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e:not(:hover) {
  opacity: 0.6;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .legacydashboardframecontrols_Section_1KwWq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px 10px 0px 10px;
  background: var(--gamepadui-darker-grey);
  border-radius: 10px;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e .ButtonControl {
  background-color: none;
  background: none;
  margin: 0;
  padding: 10px 20px 10px 20px;
  height: 100%;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .ButtonControl.Disabled {
  pointer-events: none;
  opacity: 0.3;
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .ButtonControl:hover {
  background: var(--gamepadui-dark-grey);
}
.legacydashboardframecontrols_FrameControlsContainer_27B1e
  .ButtonControl:active {
  background: var(--gamepadui-grey);
}
.frameresizehandle_ResizeHandleButton_3BhgE {
  --resize-corner-size: 128px;
  --resize-corner-thickness: 10px;
  --resize-corner-offset: 12px;
  pointer-events: all;
  padding: 30px;
  position: relative;
  width: calc(var(--resize-corner-size) + var(--resize-corner-offset) * 2);
  height: calc(var(--resize-corner-size) + var(--resize-corner-offset) * 2);
  padding: 0;
}
.frameresizehandle_ResizeCorner_35BU5 {
  position: absolute;
  right: var(--resize-corner-offset);
  bottom: var(--resize-corner-offset);
  display: flex;
  width: var(--resize-corner-size);
  height: var(--resize-corner-size);
  cursor: nwse-resize;
}
.frameresizehandle_ResizeSVG_1uH2W {
  width: 50px;
  height: 50px;
  color: var(--dashboard-control-bar-button-color-a);
  margin: auto;
  transition: all 0.08s ease-out;
}
.frameresizehandle_ResizeHandleButton_3BhgE:hover
  .frameresizehandle_ResizeSVG_1uH2W {
  color: #fff;
  transform: scale(1.4);
}
.frameresizehandle_ResizeHandleButton_3BhgE:hover
  .frameresizehandle_ResizeSVG_1uH2W
  path {
  stroke-width: 4.2857142857;
}
.frameresizehandle_ResizeHandleButton_3BhgE.frameresizehandle_ForceActive_3gxMM
  .frameresizehandle_ResizeSVG_1uH2W {
  color: #fff;
  transform: scale(1.4);
}
.frameresizehandle_ResizeHandleButton_3BhgE.frameresizehandle_ForceActive_3gxMM
  .frameresizehandle_ResizeSVG_1uH2W
  path {
  stroke-width: 4.2857142857;
}
.framegamepadmodebutton_Container_2PgNr {
  display: flex;
}
.framegamepadmodebutton_ButtonHitArea_2v1eJ {
  padding: 20px;
  display: flex;
  gap: 20px;
}
.framegamepadmodebutton_ButtonHitArea_2v1eJ:first-child {
  padding-left: 60px;
}
.framegamepadmodebutton_ButtonHitArea_2v1eJ:last-child {
  padding-right: 60px;
}
.framegamepadmodebutton_ButtonPill_1ML_a {
  text-transform: uppercase;
  font-weight: 500;
  background: #1a9fff;
  background: #0056d6;
  color: #fff;
  border-radius: 9001px;
  padding: 0.2em 1em;
  display: flex;
  white-space: nowrap;
  align-items: center;
  gap: 0.5ch;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  animation: framegamepadmodebutton_slide-up_ju26z 0.2s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.framegamepadmodebutton_ButtonHitArea_2v1eJ:not(
    .framegamepadmodebutton_Disabled_2Grai
  ):hover:not(:active)
  .framegamepadmodebutton_ButtonPill_1ML_a {
  background: #1a9fff;
}
.framegamepadmodebutton_ButtonHitArea_2v1eJ.framegamepadmodebutton_Disabled_2Grai
  .framegamepadmodebutton_ButtonPill_1ML_a {
  background: #3d4450;
}
.framegamepadmodebutton_ButtonPill_1ML_a
  .framegamepadmodebutton_GlyphContainer_3xgmy {
  width: 2ch;
  margin-left: 1ch;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.15em;
}
.framegamepadmodebutton_ButtonPill_1ML_a
  .framegamepadmodebutton_GlyphContainer_3xgmy
  svg {
  height: 100%;
}
@keyframes framegamepadmodebutton_slide-up_ju26z {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.guidedtour_steamframe_TourTooltipContainer_mmSdZ {
  display: flex;
  height: fit-content;
  width: fit-content;
  max-width: 560px;
  flex-direction: column;
}
.guidedtour_steamframe_TourTooltipContainer_mmSdZ.guidedtour_steamframe_RightFlow_3iFxa {
  display: flex;
  width: fit-content;
  height: fit-content;
}
.guidedtour_steamframe_TourTooltipContents_4roS8 {
  display: flex;
  height: fit-content;
  color: #fff;
  width: 500px;
}
.guidedtour_steamframe_TopPanelContainer_3PL05 {
  display: flex;
  height: fit-content;
  width: fit-content;
  z-index: 1;
  position: relative;
  background-color: #1f232b;
  border-radius: 20px;
  padding: 20px 30px 20px 30px;
  border-bottom: 3px solid #2f9af0;
  margin-left: auto;
  margin-right: auto;
}
.guidedtour_steamframe_RightFlow_3iFxa
  .guidedtour_steamframe_TopPanelContainer_3PL05 {
  border-bottom: none;
  border-right: 3px solid #2f9af0;
}
.guidedtour_steamframe_LearningTopicParagraph_1JF_h {
  font-size: 28px;
  text-align: center;
}
.guidedtour_steamframe_BodyText_1R8oK {
  font-size: 18px;
  text-align: center;
}
.guidedtour_steamframe_BottomPanelContainer_30X51 {
  position: relative;
  display: block;
  height: 170px;
  width: 500px;
  overflow: visible;
}
.guidedtour_steamframe_RightFlow_3iFxa
  .guidedtour_steamframe_BottomPanelContainer_30X51 {
  width: 250px;
  height: 200px;
  top: 0px;
}
.guidedtour_steamframe_GuideLineContainer_3BD0W {
  width: 500px;
  height: 170px;
  overflow: visible;
  margin-top: 10px;
  top: -10px;
  position: relative;
}
.guidedtour_steamframe_RightFlow_3iFxa
  .guidedtour_steamframe_GuideLineContainer_3BD0W {
  width: 250px;
  margin-top: 0px;
  top: 0px;
  height: 200px;
}
.guidedtour_steamframe_GuideLine_20idd {
  position: relative;
  width: 100%;
  height: 146px;
  overflow: visible;
}
.guidedtour_steamframe_RightFlow_3iFxa .guidedtour_steamframe_GuideLine_20idd {
  height: 100%;
  width: 200px;
}
.guidedtour_steamframe_GuideLine_20idd::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 3px;
  height: 100%;
  background-image: repeating-linear-gradient(
    to bottom,
    #2f9af0 0px,
    #2f9af0 16px,
    transparent 16px,
    transparent 31px
  );
}
.guidedtour_steamframe_RightFlow_3iFxa
  .guidedtour_steamframe_GuideLine_20idd::before {
  left: 0;
  top: 50%;
  transform: translateX(0%) translateY(-50%);
  width: 100%;
  height: 3px;
  background-image: repeating-linear-gradient(
    to right,
    #2f9af0 0px,
    #2f9af0 16px,
    transparent 16px,
    transparent 31px
  );
}
.guidedtour_steamframe_RightFlow_3iFxa
  .guidedtour_steamframe_GuideLine_20idd::after {
  left: -8px;
  top: 50%;
  transform: translateX(0%) translateY(-50%);
}
.guidedtour_steamframe_GuideLine_20idd::after {
  content: "";
  overflow: visible;
  position: absolute;
  left: 50%;
  top: -8px;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2f9af0;
}
.guidedtour_steamframe_RightFlow_3iFxa .guidedtour_steamframe_GuideDot_1TnBD {
  right: 10px;
  top: 50%;
  transform: translateX(100%) translateY(-50%);
  left: unset;
}
.guidedtour_steamframe_GuideDot_1TnBD {
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translateX(-50%);
  overflow: visible;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #d8efff;
  border: 4px solid #2f9af0;
}
.guidedtour_steamframe_TourConnector_2pGBc {
  border: 2px dotted #ff4500;
}
.guidedtour_steamframe_LearningTopicBody_2Gqdi {
  display: flex;
  position: relative;
  top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guidedtour_steamframe_CenteredContent_39wh9 {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.guidedtour_steamframe_ButtonContainer_2bj_L {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 24px;
  bottom: 0px;
  margin-top: 20px;
  z-index: 2;
}
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_LearnMoreButton_2KROR,
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_DismissAllButton_F0oBm {
  padding: 10px 20px;
  border-radius: 10px;
}
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_LearnMoreButton_2KROR {
  background: linear-gradient(to right, #3d4450 0%, #3d4450 60%);
}
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_BlueButton_2-ssY:active,
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_BlueButton_2-ssY:enabled,
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_BlueButton_2-ssY.guidedtour_steamframe_Primary_1MsHt,
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_BlueButton_2-ssY {
  background: linear-gradient(to right, #1a9fff 0%, #1a9fff 60%);
}
>
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_BlueButton_2-ssY:hover {
  background: linear-gradient(to right, #1a9fff 0%, #1a9fff 60%);
  background-position: 0%;
  background-size: 330% 100%;
  color: #fff;
}
>
.guidedtour_steamframe_ButtonContainer_2bj_L
  .guidedtour_steamframe_BlueButton_2-ssY:hover
  svg {
  fill: #fff;
}
.guidedtour_steamframe_ButtonContainer_2bj_L
  button.DialogButton.guidedtour_steamframe_LearnMoreButton_2KROR,
.guidedtour_steamframe_ButtonContainer_2bj_L
  button.DialogButton.guidedtour_steamframe_DismissAllButton_F0oBm {
  background-color: #1a9fff;
  width: 100%;
  height: 100%;
  min-width: 0%;
  min-height: 0%;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-regular-italic.ttf")
    format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-light-italic.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-bold-italic.ttf")
    format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Motiva Sans";
  src: url("/fonts/get_font?font=motiva-sans-extrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
:root {
  --text-color: #ffffff;
  --inputbordercolor: rgb(86, 142, 172);
  --inputbackgroundcolor: rgb(12, 47, 61);
  --inputtextcolor: rgb(255, 255, 255);
  --inputborderradius: 0.1rem;
  --inputfontsize: 1.2rem;
  --scrollbar-width: 1.3rem;
  --scrollbar-border-width: 0.45rem;
  --scrollbar-color: var(--button-background);
  --scrollbar-color-hover: var(--button-background-hover);
  --transitionspeed-hover: 0.15s;
  --title-color: #fff;
  --title-size: 1.5rem;
  --description-color: #aeb0b3;
  --description-size: 0.8rem;
  --button-background-hover: #69b4ff;
  --button-backgroundalt: #1a1818;
  --button-backgroundalt-hover: #2a3746;
  --button-background-decline: #364c85;
  --bordercolor: #004777;
  --controller-image-margin: 2rem;
  --text-font: "Motiva Sans", "Arial";
  --pairing-color-pink: #cc4298;
  --pairing-color-green: #2ead8c;
  --pairing-color-blue: #1f83e0;
  --pairing-controller-stroke-color: #3a66c7;
  --pairing-controller-fill-color-a: #78eacd;
  --pairing-controller-fill-color-b: #00523b;
  --pairing-page-horizontal-margin: 35px;
  --pairing-page-top-margin: 65px;
  --pairing-page-bottom-margin: 50px;
  --pairing-page-button-padding: 0.8rem;
  --pairing-page-button-spacing: 0.8rem;
  --pairing-page-content-top-margin: 140px;
  --hover-transition-time: 0.17s;
  --button-background: #171d21c7;
  --app-text: rgba(255, 255, 255, 0.664);
  --text-color: var(--app-text);
  --title-color: var(--app-text);
  --description-color: var(--app-text);
  --button-text: var(--app-text);
  --app-text-highlight: var(--pairing-color-green);
  --button-width: 30rem;
  --color-pink: #cc4298;
  --color-green: #2ead8c;
  --color-blue: #1f83e0;
  --page-horizontal-margin: 35px;
  --page-top-margin: 65px;
  --page-bottom-margin: 50px;
  --page-button-padding: 0.4rem;
  --page-button-spacing: 0.8rem;
  --page-content-top-margin: 140px;
  --hover-transition-time: 0.17s;
  --button-background: transparent;
  --input-hover-box-shadow: 0px 0px 9px 1px var(--color-blue);
  --input-focus-box-shadow: 0px 0px 6px 2px var(--color-blue);
  --clear-search-button-size: 20px;
  --header-control-spacing: 1rem;
  font-size: 16px;
}
html {
  overflow: hidden;
  background: none;
  font-family: var(--text-font);
  font-weight: normal;
  height: 100%;
}
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
  user-select: none;
  transition: opacity var(--loading-fade-time);
  opacity: 1;
  background: url("/dashboard/images/green_purple_background.png");
  background-size: cover;
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 0.45rem solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 100px;
  background-color: var(--color-blue);
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  border-width: 0.35rem;
  background-color: var(--button-background-hover);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
#root {
  display: flex;
  margin-bottom: 0.5rem;
  height: 100%;
}
.Label {
  font-size: 1rem;
  font-weight: normal;
  color: var(--text-color);
  display: inline;
}
.Label.Title {
  font-size: var(--title-size);
  color: var(--title-color);
}
.Label.Description {
  font-size: var(--description-size);
  color: var(--description-color);
}
.Label.Error {
  border-color: red;
  background-color: #494402;
  border-width: 0.5rem;
}
.Label .Highlight {
  color: var(--app-text-highlight);
}
.ButtonControl {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--button-text);
  opacity: 1;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background: var(--button-background);
  align-self: center;
  transition-property: background-color;
  transition-timing-function: ease-out;
  transition-duration: var(--transitionspeed-hover);
  cursor: pointer;
  text-align: center;
}
.ButtonControl:hover {
  background: var(--button-background-hover);
}
.ButtonControl.Decline {
  background: var(--button-background-decline);
}
.ButtonControl.Decline:hover {
  background: var(--button-background);
}
.ButtonControl.Inline {
  display: inline-block;
  white-space: nowrap;
}
input[type="text"],
textarea {
  background-color: var(--inputbackgroundcolor);
  border: 1px solid var(--inputbordercolor);
  color: var(--inputtextcolor);
  border-radius: var(--inputborderradius);
  padding: 0.3rem;
  font-size: var(--inputfontsize);
  font-family: var(--text-font);
}
input[type="text"],
.ButtonControl {
  --button-padding: var(--page-button-padding);
  background: none;
  padding: var(--button-padding);
  background: var(--button-background);
  position: relative;
  transition: color var(--hover-transition-time);
  overflow: hidden;
  text-align: left;
  width: var(--button-width);
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}
input[type="text"]::after,
.ButtonControl::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-style: solid;
  border-image: linear-gradient(
    to right,
    var(--color-green) 0%,
    var(--color-blue) 100%
  );
  border-image-slice: 1;
  border-width: 1px;
}
input[type="text"] {
  transition: box-shadow 0.1s linear;
}
input[type="text"]:hover {
  box-shadow: var(--input-hover-box-shadow);
}
input[type="text"]:focus {
  box-shadow: var(--input-focus-box-shadow);
}
.DebugCommands .ButtonControl span {
  position: relative;
}
.ButtonControl::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(
    to right,
    var(--color-green) 0%,
    var(--color-blue) 100%
  );
  z-index: 0;
  opacity: 0.25;
  transition: opacity var(--hover-transition-time);
}
.ButtonControl:hover {
  background: none;
}
.ButtonControl:hover::before {
  opacity: 0.5;
}
.ButtonControl:active {
  color: #000;
}
.ButtonControl:active::before,
.ButtonControl.Active::before {
  opacity: 1;
}
.DebugCommands {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@keyframes EditingFadeAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
.DebugCommands .EditingFade {
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  animation: EditingFadeAnimation 0.3s forwards;
}
.DebugCommands .Header,
.DebugCommands .Footer {
  display: flex;
  flex-direction: row;
  background: #000;
  flex-shrink: 0;
  padding: 10px;
  background: url("/dashboard/images/green_purple_background.png");
  background-size: cover;
  box-shadow: 0px 6px 11px 0px #181d1a;
  z-index: 3;
}
.DebugCommands .Footer {
  box-shadow: 0px -6px 11px 0px #181d1a;
}
.DebugCommands .Footer h1 {
  color: gray;
  text-align: center;
  font-weight: 300;
  margin: auto;
  font-size: 1rem;
}
.DebugCommands .Header::after {
  content: "";
  width: var(--scrollbar-width);
}
.DebugCommands .Header .InnerContainer {
  display: flex;
  flex-direction: row;
  margin: auto;
  height: 100%;
  width: var(--button-width);
}
.DebugCommands .Header .InnerContainer > *:not(:first-child) {
  margin-left: var(--header-control-spacing);
}
.DebugCommands .Header input[type="text"],
.DebugCommands .Header .ButtonControl {
  width: auto;
  margin: auto;
}
.DebugCommands .Header input[type="text"] {
  flex-grow: 1;
  flex-shrink: 0;
  padding-right: calc(
    var(--clear-search-button-size) +
    var(--page-button-padding)
  );
}
.DebugCommands .Header .ButtonControl {
  flex-grow: 0;
  flex-shrink: 1;
}
.DebugCommands .Header .InnerContainer .ClearSearchButton {
  background: gray;
  opacity: 0.85;
  width: var(--clear-search-button-size);
  height: var(--clear-search-button-size);
  margin: auto 0;
  margin-left: calc(
    (var(--clear-search-button-size) + var(--page-button-padding)) *
    -1
  );
  margin-right: var(--page-button-padding);
  text-align: center;
  line-height: var(--clear-search-button-size);
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
}
.DebugCommands .Header .InnerContainer .ClearSearchButton:hover:not(:active) {
  opacity: 1;
}
.DebugCommandsList {
  overflow-y: scroll;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  padding: 15px 0;
}
.DebugCommandButton.Editing:hover {
  background: var(--button-background);
}
.DebugCommandButton .CommandName {
  flex-grow: 1;
  padding-right: 10px;
  word-break: break-all;
  margin: auto;
  position: relative;
}
.DebugCommandButton .KeyboardShortcut {
  transition: box-shadow 0.2s;
  flex-grow: 0;
  background: rgba(255, 255, 255, 0.3);
  font-size: 0.9rem;
  padding: 0.2rem 0.8rem;
  float: right;
  margin: auto;
  border-radius: 2px;
  font-weight: 800;
  color: #000000c7;
  font-family: monospace;
  cursor: text;
  text-transform: lowercase;
  white-space: nowrap;
  z-index: 1;
}
.DebugCommandButton.Editing .KeyboardShortcut,
.DebugCommandButton.Unbound .KeyboardShortcut {
  font-style: italic;
}
.DebugCommandButton.Unbound .KeyboardShortcut {
  color: rgba(0, 0, 0, 0.5);
}
.DebugCommandButton.Unbound:not(.Editing):not(:hover) .KeyboardShortcut {
  opacity: 0.4;
}
.DebugCommandButton .KeyboardShortcut:hover,
.DebugCommandButton.Editing .KeyboardShortcut {
  background: rgba(255, 255, 255, 0.4);
}
.DebugCommandButton .KeyboardShortcut:hover {
  box-shadow: var(--input-hover-box-shadow);
}
.DebugCommandButton.Editing .KeyboardShortcut {
  box-shadow: var(--input-focus-box-shadow);
  z-index: 2;
  color: rgba(0, 0, 0, 0.8);
}
.DebugCommandButton .KeyboardShortcut .Plus {
  opacity: 0.5;
  font-weight: normal;
}
/*# sourceMappingURL=file:///home/buildbot/buildslave/steamvr_rel_npm_vrwebui/build/public/runtime/resources/webinterface/dashboard/sourcemaps/css/debugcommands.css.map*/
